<!doctype html>
<html ng-app="app" lang="en">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <title>Plof! - Search marketplace</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="manifest" href="/manifest.json">
        <meta name="description" content="Plof! - Search marketplace">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link rel="canonical" href="https://plof.onpy.ru/">

        <link rel="image_src" type="image/jpg" href="">
        <link rel="thumbnail" type="image/jpg" href="">
        <meta property="og:image" content="">
        <meta property="og:title" content="Plof! - Search marketplace">
        <meta property="og:description" content="Plof! - Search marketplace" >

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="apple-touch-icon" sizes="57x57" href="/images/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/images/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/images/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/images/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/images/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/images/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/images/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/images/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        <link rel="manifest" href="/images/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/images/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/web-icons/css/web-icons.css" />
        <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />
        <link rel="stylesheet" href="bower_components/sweetalert2/dist/sweetalert2.css" />
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
        <script src="lib/head.js"></script>

        <!-- Google Tag Manager -->
        <!--<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':-->
        <!--new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],-->
        <!--j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=-->
        <!--'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);-->
        <!--})(window,document,'script','dataLayer','GTM-MS7F72B');</script>-->
        <!-- End Google Tag Manager -->
    </head>
    <body class="{{cur_route_class}} {{body_styles}}">
        <!-- Google Tag Manager (noscript) -->
        <!--<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MS7F72B" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>-->
        <!-- End Google Tag Manager (noscript) -->

        <update-link rel="canonical" href="https://lovewehelp.com{{ canonical }}"></update-link>
        <update-title title="{{ ngMeta.title }}"></update-title>
        <update-meta name="description" content="{{ ngMeta.description }}"></update-meta>
        <update-meta property="og:title" content="{{ ngMeta.title }}"></update-meta>
        <update-meta property="og:description" content="{{ ngMeta.description }}"></update-meta>
        <update-meta name="twitter:title" content="{{ ngMeta.title }}"></update-meta>
        <update-meta name="twitter:description" content="{{ ngMeta.description }}"></update-meta>

        <!--[if lte IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div ng-show="show_loader" class="loader-wrap">
            <div class="pin">
                <div class="pulse"></div>
            </div>
        </div>
        <!--loader end-->

        <!-- Add your site or application content here -->
        <div id="main" ng-view="" ng-class="{'is_loaded': loaded}"></div>

        <!-- build:js({.,app}) scripts/vendor.js -->
        <script src="lib/jquery.js"></script>
        <!-- bower:js -->
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
        <script src="bower_components/angular-touchspin/dist/angular-touchspin.js"></script>
        <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>
        <script src="bower_components/angular-ui-select/dist/select.js"></script>
        <script src="bower_components/angular-gettext/dist/angular-gettext.js"></script>
        <script src="bower_components/angular-update-meta/dist/update-meta.js"></script>
        <script src="bower_components/moment/moment.js"></script>
        <script src="bower_components/angular-moment/angular-moment.js"></script>
        <script src="bower_components/sweetalert2/dist/sweetalert2.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <!-- endbower -->
        <script type="text/javascript" src="lib/plugins.js"></script>
        <script type="text/javascript" src="lib/scripts.js"></script>
        <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.routes.js"></script>
        <script src="scripts/app.config.js"></script>
        <script src="scripts/app.constants.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/app.translations.js"></script>
        <script src="scripts/filters/length.filter.js"></script>
        <script src="scripts/filters/dict.filter.js"></script>
        <script src="scripts/filters/bytes.js"></script>
        <script src="scripts/filters/currency.js"></script>
        <script src="scripts/directives/activelink.js"></script>
        <script src="scripts/directives/compare-to.js"></script>
        <script src="scripts/directives/directiveif.js"></script>
        <script src="scripts/directives/email-is-available.js"></script>
        <script src="scripts/directives/plyr.js"></script>
        <script src="scripts/directives/ccformat.js"></script>
        <script src="scripts/directives/checkphone.js"></script>
        <script src="scripts/directives/chosen.js"></script>
        <script src="scripts/directives/ionic-range-slider.js"></script>
        <script src="scripts/directives/kdatetime.js"></script>
        <script src="scripts/directives/ui-select-required.js"></script>
        <script src="scripts/services/common.js"></script>
        <script src="scripts/services/pay.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/search.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/controllers/pay.js"></script>
        <!-- endbuild -->

        <!-- Drip -->
        <!--<script type="text/javascript">-->
        <!--var _dcq = _dcq || [];-->
        <!--var _dcs = _dcs || {};-->
        <!--_dcs.account = '1920948';-->

        <!--(function() {-->
        <!--var dc = document.createElement('script');-->
        <!--dc.type = 'text/javascript'; dc.async = true;-->
        <!--dc.src = '//tag.getdrip.com/1920948.js';-->
        <!--var s = document.getElementsByTagName('script')[0];-->
        <!--s.parentNode.insertBefore(dc, s);-->
        <!--})();-->
        <!--</script>-->
        <!-- end Drip -->
    </body>
</html>
