<!-- header-->
<header class="main-header">
    <!-- header-top-->
    <div class="header-top fl-wrap">
        <div class="container">
            <div class="logo-holder">
                <a href="index.html"><img src="images/plof-logo-white.png" alt=""></a>
            </div>
            <div class="lang-wrap">
                <div class="show-lang"><img src="images/lan/1.png" alt=""> <span>Eng</span><i class="fa fa-caret-down"></i></div>
                <ul class="lang-tooltip green-bg">
                    <li><a href="#"><img src="images/lan/4.png" alt=""> De</a></li>
                    <li><a href="#"><img src="images/lan/5.png" alt=""> It</a></li>
                    <li><a href="#"><img src="images/lan/2.png" alt=""> Fr</a></li>
                    <li><a href="#"><img src="images/lan/3.png" alt=""> Es</a></li>
                </ul>
            </div>
            <div class="currency-wrap">
                <div class="show-currency-tooltip"><i class="fas fa-dollar-sign"></i> <span>USD <i class="fa fa-caret-down"></i> </span></div>
                <ul class="currency-tooltip">
                    <li><a href="#"><i class="far fa-euro-sign"></i> EUR</a></li>
                    <li><a href="#"><i class="far fa-pound-sign"></i> GBP</a></li>
                    <li><a href="#"><i class="far fa-dollar-sign"></i>  MXN</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!--  header end -->
