<div ng-include="'views/header.html'"></div>

<!--  wrapper  -->
<div id="wrapper">
    <!-- content-->
    <div class="content">
        <!--section -->
        <section class="hero-section" data-scrollax-parent="true" id="sec1">
            <div class="hero-parallax">
                <div class="bg"  data-bg="images/bg/bg_search_5.png" data-scrollax="properties: { translateY: '200px' }"></div>
                <div class="overlay op7"></div>
            </div>
            <div class="hero-section-wrap fl-wrap">
                <div class="container">
                    <div class="home-intro">
                        <div class="section-title-separator"><span></span></div>
                        <h2>Plof search marketplace</h2>
                        <span class="section-separator"></span>                                    
                        <h3>Let's start exploring the world together with plof!</h3>
                    </div>
                    <div class="main-search-input-wrap">
                        <div class="main-search-input fl-wrap">
                            <div class="main-search-input-item location" id="autocomplete-container">
                                <span class="inpt_dec"><i class="fal fa-map-marker"></i></span>
                                <input type="text" placeholder="Item title, Sku, etc..." class="autocomplete-input" id="autocompleteid2" ng-keypress="EnterSearch($event)" ng-model="q" value=""/>
                                <a href="#"><i class="fal fa-dot-circle"></i></a>
                            </div>
                            <div class="main-search-input-item category">
                                <div class="listsearch-input-item">
                                    <select data-placeholder="City" class="chosen-select" >
                                        <option>All Categories</option>
                                        <option>Electronics</option>
                                        <option>Toys</option>
                                        <option>Pets</option>
                                        <option>Kitchen</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <button ng-click="search()" class="main-search-button color2-bg">Search <i class="fal fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-sec-link">
                <div class="container"><a href="#sec2" class="custom-scroll-link color-bg"><i class="fal fa-angle-double-down"></i></a></div>
            </div>
        </section>
        <!-- section end -->
        <!--section -->
        <section id="sec2">
            <div class="container">
                <div class="section-title">
                    <div class="section-title-separator"><span></span></div>
                    <h2>We find the best prices</h2>
                    <span class="section-separator"></span>
                    <p>E-commerce has grown enourmously in the last years, but how do we know we are getting the best price for the product you are buying. With Plof we compare the same item in many different websites to give you the best price for what you are looking. </p>
                </div>
                <!-- -->
                <div class="row">
                    <div class="col-md-4">
                        <!-- process-item-->
                        <div class="process-item big-pad-pr-item">
                            <span class="process-count"> </span>
                            <div class="time-line-icon"><i class="fas fa-balance-scale"></i></div>
                            <h4><a href="#"> Compare prices </a></h4>
                            <p>Search for the product you want, we will show you where to get it for the best price!</p>
                        </div>
                        <!-- process-item end -->
                    </div>
                    <div class="col-md-4">
                        <!-- process-item-->
                        <div class="process-item big-pad-pr-item">
                            <span class="process-count"> </span>
                            <div class="time-line-icon"><i class="fas fa-bolt"></i></div>
                            <h4> <a href="#">Lightning fast</a></h4>
                            <p>No more looking around in many websites to look for the best offer. With Plof you will get the results instantly!</p>
                        </div>
                        <!-- process-item end -->                                
                    </div>
                    <div class="col-md-4">
                        <!-- process-item-->
                        <div class="process-item big-pad-pr-item nodecpre">
                            <span class="process-count"> </span>
                            <div class="time-line-icon"><i class="far fa-smile-wink"></i></div>
                            <h4><a href="#"> Completely FREE</a></h4>
                            <p>Plof is completely FREE! Just search your product, we will do the rest!</p>
                        </div>
                        <!-- process-item end -->                                
                    </div>
                </div>
                <!--process-wrap   end-->
                
            </div>
        </section>
        <!-- section end -->
        <!--section -->
        
        <!-- section end -->
        <!--section -->
        
        <!-- section end-->
    </div>
    <!-- content end-->
</div>
<!--wrapper end -->

<div ng-include="'views/footer.html'"></div>

<a class="to-top"><i class="fas fa-caret-up"></i></a>
