<div ng-include="'views/header.html'"></div>

<!--  wrapper  -->
<div id="wrapper">
    <div class="content">
        <!--  section  -->
        <section class="parallax-section single-par" data-scrollax-parent="true">
            <div class="bg par-elem "  data-bg="images/bg/bg_search_5.png" data-scrollax="properties: { translateY: '30%' }"></div>
            <div class="overlay"></div>
            <div class="container">
                <div class="section-title center-align big-title">
                    <div class="section-title-separator"><span></span></div>
                    <h2><span>Search results for the "{{ q_orig }}"</span></h2>
                    <span class="section-separator"></span>
                    <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit amet fermentum sem.</h4>
                </div>
            </div>
            <div class="header-sec-link">
                <div class="container"><a href="#sec1" class="custom-scroll-link color-bg"><i class="fal fa-angle-double-down"></i></a></div>
            </div>
        </section>
        <!--  section  end-->
        <div class="breadcrumbs-fs fl-wrap">
            <div class="container">
                <div class="breadcrumbs fl-wrap"><a href="/">Home</a><span>Search results</span></div>
            </div>
        </div>
        <!--section -->
        <section class="grey-blue-bg small-padding" id="sec1">
            <div class="container">
                <div class="row">
                    <!--listing -->
                    <div class="col-md-12">
                        <div class="mobile-list-controls fl-wrap mar-bot-cont">
                            <div class="mlc show-list-wrap-search fl-wrap"><i class="fal fa-filter"></i> Filter</div>
                        </div>
                        <!--list-wrap-search   -->
                        <div class="list-wrap-search lisfw fl-wrap lws_mobile">
                            <div class="container">
                                <div class="row">
                                    <!-- col-list-search-input-item -->
                                    <div class="col-md-6">
                                        <div class="col-list-search-input-item in-loc-dec fl-wrap not-vis-arrow">
                                            <label>Category</label>
                                            <div class="listsearch-input-item">
                                                <select data-placeholder="City" class="chosen-select" >
                                                    <option>All Categories</option>
                                                    <option>Electronics</option>
                                                    <option>Toys</option>
                                                    <option>Pets</option>
                                                    <option>Kitchen</option>
                                                    <option>Other</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- col-list-search-input-item end -->
                                    <!-- col-list-search-input-item -->
                                    <div class="col-md-6">
                                        <div class="col-list-search-input-item fl-wrap location autocomplete-container">
                                            <label>Search</label>
                                            <span class="header-search-input-item-icon"><i class="far fa-map-marker-alt"></i></span>
                                            <input ng-model="q" type="text" placeholder="Item title, Sku, etc..." class="autocomplete-input" id="autocompleteid3" value=""/>
                                            <a href="#"><i class="fal fa-dot-circle"></i></a>
                                        </div>
                                    </div>
                                    <!-- col-list-search-input-item end -->
                                </div>
                                <div class="search-opt-wrap fl-wrap">
                                    <div class="search-opt-wrap-container">
                                        <!-- col-list-search-input-item -->
                                        <div class="search-input-item">
                                            <div class="range-slider-title">Price range</div>
                                            <div class="range-slider-wrap fl-wrap">
                                                <input class="range-slider" data-from="0" data-to="2000" data-step="10" data-min="0" data-max="2000" data-prefix="$">
                                            </div>
                                        </div>
                                        <!-- col-list-search-input-item end -->
                                        <!-- col-list-search-input-item -->
                                        <div class="search-input-item small-input ">
                                            <div class="col-list-search-input-item fl-wrap">
                                                <button ng-click="new_search()" class="header-search-button">Search <i class="far fa-search"></i></button>
                                            </div>
                                        </div>
                                        <!-- col-list-search-input-item end -->
                                        <!-- hidden-listing-filter -->
                                        <div class="hidden-listing-filter fl-wrap">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <!--col-list-search-input-item -->
                                                    <div class="col-list-search-input-item fl-wrap">
                                                        <h4>Review Score</h4>
                                                        <div class="search-opt-container fl-wrap">
                                                            <!-- Checkboxes -->
                                                            <ul class="fl-wrap filter-tags">
                                                                <li class="five-star-rating">
                                                                    <input id="check-aa2" type="checkbox" name="check" checked>
                                                                    <label for="check-aa2"><span class="listing-rating card-popup-rainingvis" data-starrating2="5"><span>5 Stars</span></span></label>
                                                                </li>
                                                                <li class="four-star-rating">
                                                                    <input id="check-aa3" type="checkbox" name="check">
                                                                    <label for="check-aa3"><span class="listing-rating card-popup-rainingvis" data-starrating2="5"><span>4 Star</span></span></label>
                                                                </li>
                                                                <li class="three-star-rating">
                                                                    <input id="check-aa4" type="checkbox" name="check">
                                                                    <label for="check-aa4"><span class="listing-rating card-popup-rainingvis" data-starrating2="5"><span>3 Star</span></span></label>
                                                                </li>
                                                            </ul>
                                                            <!-- Checkboxes end -->
                                                        </div>
                                                    </div>
                                                    <!--col-list-search-input-item end-->
                                                </div>
                                                <div class="col-md-8">
                                                    <!--col-list-search-input-item -->
                                                    <div class="col-list-search-input-item fl-wrap">
                                                        <h4>Facilities</h4>
                                                        <div class="search-opt-container fl-wrap">
                                                            <!-- Checkboxes -->
                                                            <ul class="fl-wrap filter-tags half-tags">
                                                                <li>
                                                                    <input id="check-aaa5" type="checkbox" name="check" checked>
                                                                    <label for="check-aaa5">Free WiFi</label>
                                                                </li>
                                                                <li>
                                                                    <input id="check-bb5" type="checkbox" name="check" checked>
                                                                    <label for="check-bb5">Parking</label>
                                                                </li>
                                                                <li>
                                                                    <input id="check-dd5" type="checkbox" name="check">
                                                                    <label for="check-dd5">Fitness Center</label>
                                                                </li>
                                                            </ul>
                                                            <!-- Checkboxes end -->
                                                            <!-- Checkboxes -->
                                                            <ul class="fl-wrap filter-tags half-tags">
                                                                <li>
                                                                    <input id="check-cc5" type="checkbox" name="check">
                                                                    <label for="check-cc5">Non-smoking Rooms</label>
                                                                </li>
                                                                <li>
                                                                    <input id="check-ff5" type="checkbox" name="check" checked>
                                                                    <label for="check-ff5">Airport Shuttle</label>
                                                                </li>
                                                                <li>
                                                                    <input id="check-c4" type="checkbox" name="check">
                                                                    <label for="check-c4">Air Conditioning</label>
                                                                </li>
                                                            </ul>
                                                            <!-- Checkboxes end -->
                                                        </div>
                                                    </div>
                                                    <!--col-list-search-input-item end-->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- hidden-listing-filter end -->
                                    </div>
                                    <!--<div class="show-more-filters act-hiddenpanel color3-bg"><i class="fal fa-plus"></i><span>More options</span></div>-->
                                </div>
                            </div>
                        </div>
                        <!--list-wrap-search end -->
                        <!--col-list-wrap -->
                        <div ng-if="results.count == 0" class="col-list-wrap  no-results fw-col-list-wrap">
                            <h2>No results for "{{ q_orig }}"</h2>
                            <p>Try checking your spelling or use more general terms</p>
                        </div>
                        <div ng-if="results.count > 0" class="col-list-wrap fw-col-list-wrap">
                            <!-- list-main-wrap-->
                            <div  class="list-main-wrap fl-wrap card-listing">
                                <!-- list-main-wrap-opt-->
                                <div class="list-main-wrap-opt fl-wrap">
                                    <div class="list-main-wrap-title fl-wrap col-title">
                                        <h2>Found {{ results.count }} results</h2>
                                    </div>
                                    <!-- price-opt-->
                                    <div class="price-opt">
                                        <span class="price-opt-title">Sort results by:</span>
                                        <div class="listsearch-input-item">
                                            <select data-placeholder="Popularity" class="chosen-select no-search-select" >
                                                <option>Popularity</option>
                                                <option>Average rating</option>
                                                <option>Price: low to high</option>
                                                <option>Price: high to low</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- price-opt end-->
                                    <!-- price-opt-->
                                    <div class="grid-opt">
                                        <ul>
                                            <li><span class="two-col-grid act-grid-opt"><i class="fas fa-th-large"></i></span></li>
                                            <li><span class="one-col-grid"><i class="fas fa-bars"></i></span></li>
                                        </ul>
                                    </div>
                                    <!-- price-opt end-->
                                </div>
                                <!-- list-main-wrap-opt end-->
                                <!-- listing-item-container -->
                                <div class="listing-item-container init-grid-items fl-wrap three-columns-grid">
                                    <!-- listing-item  -->
                                    <div class="listing-item" ng-repeat="item in page">
                                        <article class="geodir-category-listing fl-wrap">
                                            <div class="geodir-category-img">
                                                <a href="{{ item.url }}" target="_blank" >
                                                    <img ng-if="item.picture_url" src="{{ item.picture_url }}" alt="">
                                                    <img ng-if="!item.picture_url" src="/images/no_image.jpg" alt="">
                                                </a>
                                                <div ng-if="item.sale" class="sale-window">Sale 20%</div>
                                                <div class="geodir-category-opt">
                                                    <div class="listing-rating card-popup-rainingvis" data-starrating2="5"></div>
                                                    <div class="rate-class-name">
                                                        <!--<div class="score"><strong>Very Good</strong>27 Reviews </div>-->
                                                        <span>{{ item.rating }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="geodir-category-content fl-wrap title-sin_item">
                                                <div class="geodir-category-content-title fl-wrap">
                                                    <div class="geodir-category-content-title-item">
                                                        <h3 class="title-sin_map"><a href="listing-single.html">{{ item.title }}</a></h3>
                                                    </div>
                                                </div>
                                                <p ng-if="item.brand"><b>Brand:</b> {{ item.brand.name }}</p>
                                                <p><b>Model:</b> {{ item.sku }}</p>
                                                <p ng-if="item.color"><b>Color:</b> {{ item.color.name }}</p>
                                                <p ng-if="item.size"><b>Size:</b> {{ item.size.name }}</p>
                                                <p ng-if="item.condition"><b>Condition:</b> {{ item.condition.name }}</p>

                                                <a ng-hide="item.is_cached" class="load-more-button" href="#" ng-click="find_deals(item)">
                                                    <span ng-show="!item.is_loading">Find best deals</span>
                                                    <span ng-show="item.is_loading">Searhing
                                                        <i class="fal fa-spinner"></i>
                                                    </span>
                                                </a>
                                                <div ng-if="item.is_cached" class="geodir-category-footer fl-wrap">
                                                    <a href="{{ item.url }}" target="_blank" class="geodir-category-price">
                                                        <img src="/images/amazon-logo.svg" alt="Amazon" class="shop-logo" />
                                                        <br /> <span>$ {{ item.price }}</span>
                                                    </a>
                                                    <a ng-repeat="alt in item.alternatives"
                                                        href="{{ alt.url }}"
                                                        target="_blank"
                                                        class="geodir-category-price">
                                                            <img alt="{{alt.platform}}" src="/images/{{alt.platform}}-logo.svg" class="shop-logo" />
                                                            <br />
                                                            <div ng-if="alt.condition">({{alt.condition.name }})</div>
                                                            <span>$ {{ alt.price }}</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <!-- listing-item end -->
                                </div>
                                <!-- listing-item-container end-->
                                <!-- pagination-->
                                <div ng-if="search_loaded" class="pagination">
                                    <ul uib-pagination
                                        total-items="results.count"
                                        ng-model="results.current"
                                        max-size="results.maxSize"
                                        previous-text="&lsaquo;"
                                        next-text="&rsaquo;"
                                        items-per-page="constants.SEARCH_PAGE"
                                        first-text="&laquo;"
                                        last-text="&raquo;"
                                        class="pagination-sm"
                                        boundary-link-numbers="true"
                                        rotate="true">
                                    </ul>
                                </div>
                                <!-- pagination end-->
                            </div>
                            <!-- list-main-wrap end-->
                        </div>
                        <!--col-list-wrap end -->
                    </div>
                    <!--listing  end-->
                </div>
                <!--row end-->
            </div>
        </section>
        <!--section end -->
    </div>
</div>
<!--wrapper end -->

<div ng-include="'views/footer.html'"></div>

<a class="to-top"><i class="fas fa-caret-up"></i></a>
