.sweet-alert {
    p {
        color: #333!important;
    }
}

// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }

// Transformation
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }

a {
    cursor: pointer;
}

* {
    outline: none!important;
}

input:focus{
    outline: none!important;
    box-shadow:none!important;
}

.swal2-buttonswrapper {
    button {
        float: none;
        margin: auto!important;
    }
}
