#main.is_loaded {
    opacity: 1;
}

.pagination li {
    display: inline-block;
}


.pagination li.active a {
    background: #3AACED;
    color: #fff;
}

.irs-bar {
    background: #F9B90F
}

.search-input-item .irs-line {
    background: #e5e5e5;
}

.main-search-input-item.category {
    .nice-select {
        height: 50px;

        .nice-select-search {
            padding-left: 30px;
        }
    }
}

.geodir-category-footer {
    padding: 18px 0 0 0;
}

.geodir-category-price {
    margin-right: 10px;
    min-width: 80px;

    .shop-logo {
        height: 50px;
        width: 50px;
    }
}

.fw-col-list-wrap.no-results {
    font-size: 2em;
    min-height: 200px;
}
